body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwoAZ1YTPy7hZqbR1IeLOGnKLyt59Rr6WkEw&s');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.transparent-box {
    background-color: rgba(255, 255, 255, 0.5); /* White with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
h3 {
    text-align: center;
}
button {
 display: flex;
 justify-content: center;
 align-items: center;
}
.deposit {
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
 
    margin-bottom: 150px;
   

}